@page
@model RazorPizzeria.Pages.Checkout.ThankYouModel
@{
}

<div class="text-center">


<h1> Thank you for chosing us for the dine Tonight!!!</h1>

<h2> Come back again and score your free rewards.</h2>
</div>
