@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Sharp Pizzas</h1>
    <h1 class="mainSubtitle"> Razor Sharp Pizza is made for you and me! </h1>
    </div>
    
    <p> Get Hungry & Start Ordering</p>

    <img class="mainImage" src="~/images/Pizzatime.jfif"  />

    <br /> 

<a class="btn btn-outline-primary  mt-1 mb-2" asp-area="" asp-page="Forms/CustomPizza">Bring Me The Pizza! </a> 




</div>
